<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Média!</h1>

    <p>Olá, <%= nome %>. Sua cerca tem tamanho <%= cerca() %>. (Calcule a Área de uma cerca em forma de triacontagono. Se a Área for maior que 200 metros quadrados, É uma cerca grande. Se for menor que 200 metros quadrados, É uma cerca pequena.)</p>

    <%
    if (grande_pequena()) {
    %>
        <p>Grande</p>
    <%
    }
    else {
    %>
        <p>Pequena</p>
    <%
    }
    %>

    <script src="/app/Publico/js/areaCerca.js"></script>
</body>
</html>
