<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <script src="../Publico/js/areaCerca.js"></script>
    <style>
        .grande {
            color: red;
        }
        .pequena {
            color: green;
        }
    </style>
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <img src="../Publico/img/logo.png">
    <h1>Página inicial</h1>
    <form action="/triacontagono" method="post" onSubmit="event.preventDefault(); calcularCerca();">
        <label>
            <span>Nome da Cerca</span>
            <input name="nome">
        </label>
        <label>
            <span>Lado do triacontágono (em metros)</span>
            <input name="lado">
        </label>
        <button>Calcular</button>
    </form>
    <div id="resposta"></div>

    <script src="../Publico/js/areaCerca.js"></script>
</body>
</html>
