<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Página Inicial</title>

    <script src="/_js/areaCerca.js"></script>

    <style>
        .pequeno {

            color: green;

        }

        .grande {

            color: red;

        }
    </style>

</head>

<body>

    <%- include('/home/node/app/views/cabecalho.ejs') %>

        <img src="/_img/logo.png" alt="Logo">

        <h1>Cercas!</h1>

        <p>Calcule a Área de uma cerca em forma de triacontagono. Se a Área for maior que 200 metros quadrados, É uma
            cerca grande. Se for menor que 200 metros quadrados, É uma cerca pequena.</p>

        <h2>Digite abaixo os dados:</h2>

        <form method="post" onSubmit="event.preventDefault(); calcularArea();">

            <div id="resposta"></div>

            <label>

                <span>Nome</span>

                <input name="nome">

            </label>

            <label>

                <span>Lado da cerca (em metros)</span>

                <input name="lado">

            </label>

            <label>

                <button>Calcular</button>

            </label>

        </form>

        <button onclick="listar();">Listar</button>

        <table>

            <tr>

                <th>ID</th>

                <th>Nome</th>

                <th>Lado</th>

                <th></th>

            </tr>

            <tbody id="triacontagono">



            </tbody>

        </table>

</body>

</html>